{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title %}{% endblock %}
{% block content %}





<div class="row">
    <div class="col-md-12">
    <div class="card card-success card-outline">
        <div class="card-body">
        <h5 class="card-title">Register </h5>
          <br/>
          <form method="post">
        {% csrf_token %}
        
        {{ profile_form|crispy }}
        {{ user_form|crispy }}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
      </div>

    
    </div>
    <!-- /.col-md-6 -->
</div>


{% endblock %}