SECRET_KEY=change-me
DB_NAME=sikatrack
DB_USER=sikatrack
DB_PASSWORD=sikatrack_dev
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=example.com,www.example.com
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
